<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Messenger</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="/js/replacesticker.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat/insertchat.js"></script>
  <script src="/js/chat/insertname.js"></script>
  <script src="/js/chat/firstsend.js"></script>
  <script src="/js/chat/servertoclient.js"></script>
  <script src="/js/chat/typing.js"></script>
  <script>
    // Socket
    var socket = io("http://localhost:8080");
    // Server send message data to client
    servertoclient();
    // Server first send data to client
    firstsend('<%= user._id %>');
    // Typing
    typing();
  </script>
</head>
<body style="margin-bottom: 67px;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Messenger <span style="color: #0084FF"><%= nickname %></span> <i class="fa fa-terminal" aria-hidden="true" id="ter"></i></a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a></li>
          <li><a href="/#"><i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
          <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
          <li><p style="padding: 10px 15px; margin-bottom: 0px;"><img src="/img/avatars/<%= user.local.email %>.jpg" width="30px" height="30px" class="img-circle"></p></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <center>
          <div id="img"><img src="/img/loading_message.gif" alt=""></div>
        </center>
        <div id="content-first"></div>
        <div id="content-fix"></div>
        <div id="content"></div>
        <div style="position: fixed; bottom: 47px; display: none; font-size: 13px;" id="typing">Someone is typing...</div>

        <div style="display: none;" id="sticker-selector">
          <div style="max-width: 300px; max-height: 300px; background-color: #F8F8F8; border-radius: 13px; box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.5); z-index: 99; position: fixed; bottom: 50px; right: 10px; padding: 15px; overflow-y: scroll;">
            <div class="row">
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker" sticker="1"></div>
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
            </div>
            <div style="padding-top: 15px;"></div>
            <div class="row">
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
            </div>
            <div style="padding-top: 15px;"></div>
            <div class="row">
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
              <div class="col-xs-4"><img src="/img/sticker/1.png" alt="" class="img-responsive sticker"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed">
      <label style="position: absolute; bottom: -3px; left: 5px; font-size: 25px; cursor: pointer;"><span class="fa fa-picture-o"></span></label>
      <label style="position: absolute; bottom: -3px; right: 80px; font-size: 25px; color: #5e5e5e; cursor: pointer" id="sticker"><span class="fa fa-smile-o" aria-hidden="true"></span></label>
      <label style="position: absolute; bottom: -2px; right: 45px; font-size: 25px; color: #0084FF; cursor: pointer" id=""><i class="fa fa-thumbs-up" aria-hidden="true"></i></span></label>
      <label style="position: absolute; bottom: -1px; right: 13px; font-size: 21px; color: #0084FF; cursor: pointer"><span class="fa fa-paper-plane" aria-hidden="true"></span></label>
  	<form action="/file" method="post" enctype="multipart/form-data" id="form-img">
  		<input type="file" id="img" name="userPhoto" accept="image/*" style="opacity: 0;position: absolute;z-index: 1; bottom: 0px; left: -65px; width: 0.5px;">
  	</form>
  	<input type="text" id="msg" placeholder="Type to chat..." autofocus=""/>

  </div>
  </div>

  <script>
  var user_id = '<%= user._id %>';
  var nickname = '<%= nickname %>';
  var email = '<%= user.local.email %>';
    $(document).ready(function(){
      var isSticker;
      var msg = $('#msg');
      var content = $('#content');
      msg.keyup(function(e){
        if(e.which == 13){
          insertChat('right', msg.val(), 'false', 'false', 'insertBefore', 'div#content');
          var obj = {user_id: user_id, msg: msg.val(), sticker: 'false', pic: 'false', nickname: nickname, email: email};
          msg.val("");
          socket.emit("send-msg-to-server", obj);
          window.scrollTo(0,document.body.scrollHeight);
        }

        socket.emit("send-typing-to-server", msg.val());
      });

      var sticker = $('#sticker');
      sticker.click(function(event){
        event.stopPropagation();
        $('#sticker-selector').toggle();
      });

      $('.sticker').click(function(){
        //$('<div class="clr"><div class="sticker-content-right"><img src="/img/sticker/1.png" alt="" /></div></div>').insertBefore('div#content');
        insertChat('right', 'false', '1.png', 'false', 'insertBefore', 'div#content');
        window.scrollTo(0,document.body.scrollHeight);
        var obj = {user_id: user_id, msg: 'false', sticker: '1.png', pic: 'false', nickname: nickname, email: email};
        socket.emit("send-msg-to-server", obj);
        $('#sticker-selector').hide();
      });

      $(document).click(function(){
        if($('#sticker-selector').is(':visible')){
          $('#sticker-selector').hide();
        }
      });

      $('#form-img').change(function(){
        console.log(document.body.scrollHeight);
        $('#form-img').ajaxSubmit({
          async: false,
          success: function(result){
            //console.log(result);
            var obj = {user_id: user_id, msg: 'false', sticker: 'false', pic: result, nickname: nickname, email: email};
            socket.emit("send-msg-to-server", obj);
            insertChat('right', 'false', 'false', result, 'insertBefore', 'div#content');
            console.log(document.body.scrollHeight);
          }
        });
        window.scrollTo(0,document.body.scrollHeight);
      });

      function terToggle(){
        $('#ter').toggle();
      }

      setInterval(terToggle, 500);

    });
  </script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
